<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Car List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Mark: </th>
        <th>Model: </th>
        <th>Color: </th>
        <th>Actions: </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars | async">
        <td>{{car.mark}}</td>
        <td>{{car.model}}</td>
        <td>{{car.color}}</td>
        <td><button (click)="deleteCar(car.id)" class="btn btn-danger">Delete</button>
          <button (click)="updateCar(car.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          <button (click)="selectCar(car.id)" class="btn btn-info" style="margin-left: 10px">Select Car</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
